import path from 'path';

export default {
  images: {
    unoptimized: true,
  },
  output: 'export',
  basePath: process.env.NODE_ENV === 'production' ? '/aeon' : '',
  assetPrefix: process.env.NODE_ENV === 'production' ? '/aeon/' : '',
  webpack: (config) => {
    config.resolve.alias['@'] = path.join(import.meta.dirname, '');
    return config;
  },
};